.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    position: absolute;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-container {
    margin-top: 10px; /* Adjust margin as needed */
}

.list-container ul {
    list-style: none;
    padding: 0;
}

.list-container li {
    margin-bottom: 5px; /* Adjust margin as needed */
}
