
.swiper {
  max-width: 350px;
  max-height: 350px; 
  position: relative;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}